page-signup {
    #signup{
        .simple-text{
            color: #2A2C43;
           
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            max-width: 60%;
            max-height: 60%;
        }
        .scroll-content{
            background-color: #f2b632;
        }
        .item{
            background-color: #f2b632;
        }
    }
    
 }
